*{
    margin: 0;
    padding: 0;
}
#mine{
    margin: 12px auto;
    user-select: none;
}
.level{
    text-align: center;
    margin-bottom: 10px;
}
.level button{
    font-size: 18px;
    margin: 0 0 0 25px;
    padding: 6px 12px;
    background-color: #02a4ad;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.level button.active{
    background-color: #00abff;
}
table{
    border-spacing: 1px;
    background-color: #929196;
    margin: 0 auto;
}
td{
    width: 19px;
    height: 19px;
    background-color: #ccc;
    border: 2px solid;
    border-color: #fff #a1a1a1 #a1a1a1 #fff;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
}
/* 数字颜色 */
td.zero{
	border-color: #d9d9d9;
	background: #d9d9d9;
}
td.one{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #0332fe;
}
td.two{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #019f02;
}
td.three{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #ff2600;
}
td.four{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #93208f;
}
td.five{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #ff7f29;
}
td.six{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #ff3fff;
}
td.seven{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #3fffbf;
}
td.eight{
	border-color: #d9d9d9;
	background: #d9d9d9;
	color: #22ee0f;
}
.info{
    margin-top: 6px;
    text-align: center;
}
.mine{
    background: #d9d9d9 url(../img/mine.png) no-repeat center;
    background-size: cover;
}
.flag{
    background: #ccc url(../img/flag.png) no-repeat center;
    background-size: cover;
}